.fundo-navbar{
    background-color: #EBEBEB;
}

.letra-navbar{
    color: white!important;
}

 body{
    background-color: #FBFDFF;
  }

  .container-fluid {
    font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

.navbar-letra{
    color:green;
    font-size: 14px;
    font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

 .icon{
    color:green;
    font-size: small;
 }

 .navbar-brand {
    margin-left: 20px;
  }

  .navbar-nav{
    margin-left: 20px;
  }

  .margem-icones{
    margin-right: 10px;
  }

  .login{
    margin-left: 1150px;
  }

  .imagem-carrossel{
    object-fit: cover;
    object-position: 0 80%;
    height: 500px
}

.btn.btn-primary {
  width: 300px;
  height: 50px;
  background-color: #04610D;
  border-color: #04610D;
}